{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirmation{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
     <h3>Password Reset Confirmation</h3>
     <hr>
     <form action="" method="POST" novalidate class="shadow p-5">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <br>
         {% for fm in form %}
        <div class="form-group mb-3">
         <label for="{{ fm.id_for_label }}" class="form-label">{{ fm.label }}</label>
         {{ fm }}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-4" value="Set New password">
     </form>
   </div>
  </div>
</div>
{% endblock main-content %}