{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Password Reset Complete</h3>
   <br>
   <p>Your password has been successfully changed.</p>
   <p class="lead">You can now log in with the new password.</p>
   <a href="{% url 'login' %}" class="btn btn-primary mt-3">Login Now</a>
  </div>
 </div>
</div>
{% endblock main-content %}